@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";



body {
  font-family: "Lexend Deca", sans-serif;
}

.background-pattern {
  background-color: #f5f5f5;
}